{% if shop.enabled_payment_types.size > 0 %}
  <div class="payment-icons" aria-label="Accepted payment methods">
    {% for type in shop.enabled_payment_types %}
      {{ type | payment_type_svg_tag: class: 'payment-icon' }}
    {% endfor %}
  </div>
{% endif %}
